# ------------------
# CMake build folders
# ------------------
/build/
/releases/
/CMakeFiles/
/CMakeCache.txt
cmake_install.cmake
Makefile
/cmake-build-debug/
/cmake/cmake-build-debug/
/cmake-build-release/
/cmake/cmake-build-release/
bin/
obj/

# ------------------
# Windows executable and object files
# ------------------
*.exe
*.dll
*.lib
*.obj
*.o
*.a
*.pch
*.pdb

# ------------------
# Visual Studio / IDE files (if anyone opens in VS)
# ------------------
*.vcxproj*
*.sln
*.suo
*.user
*.ipch
*.opensdf
*.sdf

# ------------------
# Resource compiler output
# ------------------
*.res
*.manifest

# ------------------
# Temporary files
# ------------------
*.log
*.tmp
*.temp
*.swp
*.bak
*.backup

# ------------------
# Mac / Linux system files
# ------------------
.DS_Store
Thumbs.db

# ------------------
# IDE
# ------------------
.idea
